.app {
  background: #282c34;
  color: white;
  height: calc(100vh-100px);
  /* height: fit-content; */
  padding: 50px;
  margin: 0;
}

h1 {
  text-align: center;
  color: gold;
  font-size: 3em;
}

h1 fa-icon {
  color: orange;
  display: inline-block;
  transform: rotate(15deg);
}
